.root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.form{
    width: 260px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.input{
    margin: 10px;
}
.button{
    color: white;
}